* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
}

:root {
  --background-color: black;
  --second-background-color: #04001C;
  --text-color: white;
  --main-color: #0d6efd;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  margin: 0%;
  background: var(--background-color);
  color: var(var(--text-color))
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: transparent;
}

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  animation: right 1s ease forwards;
  animation-delay: .4s;
}


section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 700;
  margin-left: 3.5rem;
}

.navbar a:hover, .navbar a.active {
  color: var(--main-color);
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  animation: right 2.5s ease forwards;
  animation-delay: .4s;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}


.Home {
  display: flex;
  color: var(--text-color);
  align-items: center;
  height: 100vh;
  padding: 0 10%;
  background: url(./background.png) no-repeat;
  background-position-x: center;
  background-position-y: cover;
  background-size: cover;
  opacity: 1;
}

.Home-content {
  max-width: 60rem;
}

.Home-content h1 {
  position: relative;
  font-size: 5.6rem;
  font-weight: 700;
  color: var(--text-color);
}

.Home-content .text-animate {
  position: relative;
  width: 32.8rem;
}

.Home-content .text-animate h2 {
  font-size: 3.2rem;
  font-weight: 700;
  -webkit-text-stroke: .7px var(--main-color);
  color: transparent;
}

.Home-content h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  animation: right 1s ease forwards;
  animation-delay: 1s;
}


.Home-content .text-animate h2::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: right 1s ease forwards;
  animation-delay: 1.3s;
}

.Home-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
  line-height: 1.2;
}

.Home-content p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: right 1s ease forwards;
  animation-delay: 1.6s;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  width: 15rem;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  border: .1rem solid var(--main-color);
  border-radius: .9rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--background-color);
  z-index: 1;
}



.Home-content .btn-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  animation: right 1s ease forwards;
  animation-delay: 1.8s;
  z-index: 2;
  overflow: hidden;
}

.btn-box a {
  position: relative;
  width: 150px;
  height: 100%;
  font-size: 20px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}

.btn-box a:nth-child(2) {
background: transparent;
color: var(--text-color);
}

.btn-box a:nth-child(2)::before {
  color: var(--main-color);
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--text-color);
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
}

.nav a:hover {
  color: #0A6EBD;
}


.home-sci {
position: absolute;
bottom: 4rem;
width: 170px;
display: flex;
justify-content: space-between;
flex-shrink: 0;
  flex-basis: auto;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  flex-shrink: 0;
  flex-basis: auto;
}

.home-sci a:hover {
  color: black;
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.home-sci::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  animation: right 1s ease forwards;
  animation-delay: 2s;
  z-index: 2;
}

.home-sci a:hover:before {
  width: 100%;
}

 
 .Home { 
   position: relative;
   border-radius: 50%; 
   object-position: center;
   filter: none;
    max-width: 100%;
    border: transparent;
    background-color: black;
    opacity: .8;
    transition: 3s;
 }
 

 .Home::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  animation: right 4s ease forwards;
  animation-delay: 2s;
  z-index: 2;
}



.about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  object-position: center;
  gap: 2rem;
  padding-bottom: 6rem;
  opacity: 1;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: 600;
  font-size: 2.5rem;
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  width: 25rem;
}

span {
  color: var(--main-color);
}

.about-img {
  display: flex;
  position: relative;
  justify-content: center;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  align-items: center;
}

.about-img img {
  width: 80%;
  border-radius: 50%;
  border: .2rem solid var(--main-color);
  padding: 0%;
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--text-color);
  border-bottom: .2rem solid var(--text-color);
  border-left: .2rem solid var(--second-background-color);
  border-right: .2rem solid var(--second-background-color);
}


.about-content .h2 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}


div.about-content > a {
  position: relative;
  width: 20rem;
  height: 5rem;
  font-size: 20px;
  background: var(--background-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--text-color);
  z-index: 1;
}

div.about-content > a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: .5s;
  background: var(--text-color);
  
}

div.about-content > a:hover:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
color: transparent;
background-color: var(--main-color);
z-index: -1;
transition: .8s;
overflow: hidden;
}


.experience {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}




.experience {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}



.experience .experience-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.experience-row .experience-column {
  flex: 1 1 40rem;
}

.experience-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
  position: relative;
}


.experience-column .experience-box {
  border-left: .2rem solid var(--main-color);
}

.experience-box .experience-content {
  position: relative;
  padding-left: 2rem;
}

.experience-box .experience-content::before {
  content: '';
  position: absolute;
  top: 3rem;
  left: -1.1rem;
  height: 2rem;
  width: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.experience-content .content {
  position: relative;
  padding: 1rem;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  margin-bottom: 2rem;
  overflow: hidden;
  width: 60rem;
}

.experience-content .content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.experience-content .content:hover::before {
  width: 100%;
}

.experience-content .content .year i {
  padding-right: .5rem;
}

.experience-content .content h3 {
  font-size: 2rem;
}


@keyframes right {
  100% {
    width: 0%;
  }
}




.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--background-color);
  color: var(--text-color);
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}


.skills .skills-column {
  flex: 1 1 40rem;
}

.skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
  position: relative;
  padding: .5rem 1.5rem;
  padding-top: 1.5rem;
}

.skills-box .skills-content {
  position: relative;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  padding: 1.5rem 1.5rem;
  padding-top: 15;
  z-index: 1;
  overflow: hidden;
  width: 60rem;
  justify-content: center;
  align-items: center;
}


.skills-box .skills-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--second-background-color);
  z-index: -1;
  transition: .5s;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0;
}

div > div > h3 {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid var(--text-color);
  padding: .5rem;
  margin:  1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: .3rem;
  background: var(--main-color);
}

div.skills-content > div > div.bar {
  width: 90%;
}

div.skills-content > div > div.progress > div.bar {
  width: 80%;
}

div.skills-content > div > div.progress > div.progress > div {
  width: 30%;
}

div.skills-column > div > div > div > div.progress > div.bar {
  width: 60%;
}

div.skills-column > div > div > div > div.progress > div.progress > div {
  width: 60%;
}


